@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: "DM Sans", sans-serif;
  color: #000000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/**
 * /*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize
 *
 * @format
 */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.container {
  width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.page-header__container {
  width: 480px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 0;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__buy-btn {
  display: none;
}

.menu-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-icon {
  fill: teal;
}

.hero {
  background-color: #ffb8ca;
  padding-top: 194px;
  padding-bottom: 158px;
}

.hero__title {
  margin-bottom: 20px;
  width: 218px;
  font-size: 26px;
  font-weight: 400;
  line-height: 1, 15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Titan One";
}

.hero__title-accent {
  font-size: 48px;
  font-weight: 400;
  line-height: 96.5%;
  text-transform: uppercase;
  color: #D41443;
}

.hero__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero__nav-item:not(:last-child) {
  margin-right: 9px;
}

@media screen and (max-width: 767px) {
  .hero__statistics-list {
    display: none;
  }
}

.products {
  margin-left: auto;
}

.products__natural {
  margin-bottom: 15px;
  font-family: "Titan One";
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
}

.products__title {
  margin-bottom: 148px;
  font-family: "Titan One";
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

@media screen and (min-width: 1280px) {
  .products__title {
    margin-bottom: 258px;
  }
}

@media screen and (min-width: 768px) {
  .products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.products__item {
  position: relative;
  width: 100%;
  padding-top: 160px;
  padding-bottom: 40px;
  border-radius: 24px;
}

.products__item:nth-child(1) {
  background-color: #FFB8CA;
}

.products__item:nth-child(2) {
  background-color: #F0D1A5;
}

.products__item:nth-child(3) {
  background-color: #C2E297;
}

@media screen and (max-width: 767px) {
  .products__item {
    margin-bottom: 140px;
  }
  .products__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .products__item {
    width: 224px;
    margin-right: 16px;
    padding-top: 118px;
  }
  .products__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .products__item {
    width: 395px;
    margin-right: 32px;
    padding-top: 165px;
  }
  .products__item:last-child {
    margin-right: 0;
  }
}

.products__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -140px;
}

@media screen and (max-width: 768px) {
  .products__picture {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .products__picture {
    top: -138px;
  }
}

@media screen and (min-width: 1280px) {
  .products__picture {
    top: -261px;
  }
}

.products__block-title {
  display: block;
  margin-bottom: 32px;
  font-family: "Titan One";
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.products__dote::after {
  display: inline-block;
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 26px;
  height: 6px;
  background-image: url(../images/products/group3.svg);
  background-size: cover;
  background-position: content;
  background: no-repid;
  margin: 0 auto;
  margin-top: 38px;
}

.profucts__ice-cream::before {
  content: "";
  position: absolute;
  top: -140px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-image: url("../images/products/imege_mobail/home-pic3.png");
  background-size: contain;
  width: 280px;
  height: 280px;
}

@media (max-width: 767px) {
  .profucts__ice-cream::before {
    background-image: url("../images/products/imege_mobail/home-pic3.png");
  }
}

@media (max-width: 767px) and (min-device-pixel-ratio: 2), (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 192dpi), (max-width: 767px) and (min-resolution: 2dppx) {
  .profucts__ice-cream::before {
    background-image: url("../images/products/imege_mobail/home-pic3@2x.png");
  }
}

@media (min-width: 768px) {
  .profucts__ice-cream::before {
    width: 224px;
    height: 224px;
    background-image: url("../images/products/imege_tablet/pr_tablet1.png");
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .profucts__ice-cream::before {
    background-image: url("../images/products/imege_tablet/pr_tablet1@2x.png");
  }
}

@media (min-width: 1280px) {
  .profucts__ice-cream::before {
    width: 394px;
    height: 394px;
    top: -50%;
    background-image: url("../images/products/imeges_desctop/desctop-pic1.png");
  }
}

@media (min-width: 1280px) and (min-device-pixel-ratio: 2), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 2dppx) {
  .profucts__ice-cream::before {
    background-image: url("../images/products/imeges_desctop/desctop-pic1@2x.png");
  }
}

.profucts__ice-coffee::before {
  content: "";
  position: absolute;
  top: -140px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-image: url("../images/products/imege_mobail/home-pic2.png");
  background-size: contain;
  width: 280px;
  height: 280px;
}

@media (max-width: 767px) {
  .profucts__ice-coffee::before {
    background-image: url("../images/products/imege_mobail/home-pic2.png");
  }
}

@media (max-width: 767px) and (min-device-pixel-ratio: 2), (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 192dpi), (max-width: 767px) and (min-resolution: 2dppx) {
  .profucts__ice-coffee::before {
    background-image: url("../images/products/imege_mobail/home-pic2@2x.png");
  }
}

@media (min-width: 768px) {
  .profucts__ice-coffee::before {
    width: 224px;
    height: 224px;
    background-image: url("../images/products/imege_tablet/pr_tablet2.png");
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .profucts__ice-coffee::before {
    background-image: url("../images/products/imege_tablet/pr_tablet2@2x.png");
  }
}

@media (min-width: 1280px) {
  .profucts__ice-coffee::before {
    width: 394px;
    height: 394px;
    top: -50%;
    background-image: url("../images/products/imeges_desctop/desctop-pic2.png");
  }
}

@media (min-width: 1280px) and (min-device-pixel-ratio: 2), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 2dppx) {
  .profucts__ice-coffee::before {
    background-image: url("../images/products/imeges_desctop/desctop-pic2@2x.png");
  }
}

.profucts__milkshakes::before {
  content: "";
  position: absolute;
  top: -140px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-image: url("../images/products/imege_mobail/home-pic1.png");
  background-size: contain;
  width: 280px;
  height: 280px;
}

@media (max-width: 767px) {
  .profucts__milkshakes::before {
    background-image: url("../images/products/imege_mobail/home-pic1.png");
  }
}

@media (max-width: 767px) and (min-device-pixel-ratio: 2), (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 192dpi), (max-width: 767px) and (min-resolution: 2dppx) {
  .profucts__milkshakes::before {
    background-image: url("../images/products/imege_mobail/home-pic1@2x.png");
  }
}

@media (min-width: 768px) {
  .profucts__milkshakes::before {
    width: 224px;
    height: 224px;
    background-image: url("../images/products/imege_tablet/pr_tablet-3.png");
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .profucts__milkshakes::before {
    background-image: url("../images/products/imege_tablet/pr_tablet-3@2x.png");
  }
}

@media (min-width: 1280px) {
  .profucts__milkshakes::before {
    width: 394px;
    height: 394px;
    top: -50%;
    background-image: url("../images/products/imeges_desctop/desctop-pic3.png");
  }
}

@media (min-width: 1280px) and (min-device-pixel-ratio: 2), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 2dppx) {
  .profucts__milkshakes::before {
    background-image: url("../images/products/imeges_desctop/desctop-pic3@2x.png");
  }
}

.products__text {
  margin: 0 auto;
  width: 200px;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .products__text {
    width: 160px;
  }
}

.products__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}

.products__icon {
  fill: #D31342;
}
/*# sourceMappingURL=main.css.map */