// ============Fonts-Family===============
$primary-font-family: 'DM Sans';
$secondary-font-family: 'Titan One';

// =============ANIMATION==============
// Я зробив замість міксина змінну, яку можна буде перевикористовувати без проблем!
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-modal: 500ms cubic-bezier(0.4, 0, 0.2, 1);

// ==============COLORS================
$text-color-primary: #000000;
$text-color-secondary: #ffffff;
$text-color-dark: #907e82;
$text-color-accent: #d41443;
$text-color-accent-light: #ffa5ba;
// для форми, якщо знадобиться
$text-color-placeholder: rgba(117, 117, 117, 0.5);

// ==============Buttons-COLORS================
$button-color: #ffffff;
$button-color-hover: #ecebeb;
$button-color-accent: #d41443;
$button-color-accent-hover: #c7133e;

// ==============Networks-COLORS================
$networks-color: #fea5bb;
$networks-color-hover: #d41443;

// ==============Icons-COLORS==================
$icon-color-accent: #d31342;
$icon-color-accent-dark: #c7133e;
$icon-color-accent-light: #ffb8ca;
$icon-color-light: #d9d9d9;

// ==============BACKGROUND-COLORS=============
$bg-primary: #ffffff;
$bg-dark: #e1e1e1;
$bg-dark-mobile: #fafafa;
$bg-accent-primary: #ffb8ca;
$bg-accent-primary-light: #fff5f6;
$bg-accent-second: #f0d1a5;
$bg-accent-third: #c2e297;
$bg-menu: #e17992;
$bg-hero-ellipse: #ffa5ba;
$bg-customer-icon: #d9d9d9;

// =============Border-COLORS======================
$border-color-light: #e1e1e1;
$border-color-accent: #e18298;

// =============SHADOWS======================
$shadow-card-contacts: 0px 8px 30px rgba(212, 20, 67, 0.1);
$shadow-ellipse-hero: 0px 4px 4px rgba(212, 0, 0, 0.3);
