<section class="about" id="about">
  <div class="about-inner">
    <div class="container">
      <div class="about__wrapper">
        <p class="about__title">tradition and love</p>
        <h2 class="about__subtitle">how it's made?</h2>
      </div>
      <img
        class="about__image"
        srcset="./images/about/cow.png 1x, ./images/about/cow-2x.png 2x"
        src="./images/about/cow-2x.png"
        alt="cow and jar of milk"
      />
      <div class="about__wrap">
        <p class="about__content about__content--description-1">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__content about__content--description-2">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__content">Aliquam erat volutpat. Aenean accumsan.</p>
      </div>
      <button type="button" class="about__button button__primary--light">Read more</button>
    </div>
  </div>
</section>
