<section class="about section" id="about">
  <div class="container">
    <p class="about__title">tradition and love</p>
    <h2 class="about__subtitle">how it's made?</h2>
    <div class="about__block">
      <img
        class="about__image"
        srcset="./images/about/cow.png 1x, ./images/about/cow-2x.png 2x"
        src="./images/about/cow-2x.png"
        alt="cow and jar of milk"
      />
      <div class="about__wrap">
        <p class="about__content about__content--description-first">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__content about__content--description-second">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__content about__content--description-third">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="about__button button__primary--light">Read more</button>
      </div>
    </div>
  </div>
</section>
