<section class="advantages section">
    <div class="container">
        <ul class="advantages-list">
            <li class="advantages-list-item">
                <img class="advantage-img" src="../images/svg/block4_2.svg" alt="milk">
                <h2 class="advatage-name">
                    721
                </h2>
                <p class="advantage-description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages-list-item">
                <img class="advantage-img" src="../images/svg/block4_3.svg" alt="apples">
                <h2 class="advatage-name">
                    16KG
                </h2>
                <p class="advantage-description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages-list-item">
                <img class="advantage-img" src="../images/svg/block4_1.svg" alt="icecream">
                <h2 class="advatage-name">
                    84
                </h2>
                <p class="advantage-description">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>