<section id="advantages" class="section advantages">
  <div class="container">
    <h2 class="advantages__title visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <p class="advantages__text">
          <span class="advantages__caption">721</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <p class="advantages__text">
          <span class="advantages__caption">16kg</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <p class="advantages__text">
          <span class="advantages__caption">84</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
