
<section class="contacts">
  <div class="container">
    <h2 class="ht">Contacts</h2>

    <ul class="contacts__list list">
   <li class="contacts__items">
       <div class="contacts__card-wrap">
       <p class="cafe">CAFE</p>
       <div class="contacts__sity-wrap">
       <h3 class="contacts__title title-city">Chicago</h3>
       <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
       </div>

       <div class="contacts__time-wrap">
       <h3 class="contacts__title">Monday - Friday</h3>
       <p class="contacts__time">06:00 AM - 10:00 PM</p>
       <h3 class="contacts__title title-wickend">Saturday - Sunday</h3>
       <p class="contacts__time">08:00 AM - 16:00 PM</p>
       </div>

       <div class="contacts__link-wrap">
       <a href="" class="contacts__link">+61(0) 383 766 284</a>
       <a href="" class="contacts__link"> noreply@envato.com</a>
       </div>
       </div>
     </li>
     <li class="contacts__items">
       <div class="contacts__card-wrap">
       <p class="foodtrack">FOODTRUCK</p>
       <div class="contacts__sity-wrap">
       <h3 class="contacts__title title-city">Los Angeles</h3>
       <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
       </div>

       <div class="contacts__time-wrap">
       <h3 class="contacts__title">Monday - Friday</h3>
       <p class="contacts__time">06:00 AM - 10:00 PM</p>
       <h3 class="contacts__title title-wickend">Saturday - Sunday</h3>
       <p class="contacts__time">08:00 AM - 16:00 PM</p>
       </div>

       <div class="contacts__link-wrap">
       <a href="" class="contacts__link">+61(0) 383 766 284</a>
       <a href="" class="contacts__link"> noreply@envato.com</a>
       </div>
       </div>
     </li>
     
     <li class="contacts__items">
       <div class="contacts__card-wrap">
       <p class="cafe">CAFE</p>
       <div class="contacts__sity-wrap">
       <h3 class="contacts__title title-city">New York</h3>
       <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
       </div>

       <div class="contacts__time-wrap">
       <h3 class="contacts__title">Monday - Friday</h3>
       <p class="contacts__time">06:00 AM - 10:00 PM</p>
       <h3 class="contacts__title title-wickend">Saturday - Sunday</h3>
       <p class="contacts__time">08:00 AM - 16:00 PM</p>
       </div>

       <div class="contacts__link-wrap">
       <a href="" class="contacts__link">+61(0) 383 766 284</a>
       <a href="" class="contacts__link"> noreply@envato.com</a>
       </div>
       </div>
     </li>
   </ul>
   <div class="btn-wrap">
   <button type="button" class="button btn-loc">Our Locations</button>
   <button type="button" class="button btn-franch">Franchise</button>
  </div>

 </div>
</section>
