<section class="contacts section" id="contacts">
  <div class="contacts__container container">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
        <ul class="container__list">
          <li class="contacts__items">
            <p class="contacts__place">CAFE</p>
            <p class="contacts__caption">New York</p>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="schedule">
              <li class="schedule__list schedule__list--margin">
                <p class="schedule__text">Monday - Friday</p>
                <p class="schedule__text schedule__text--color">06:00 AM - 10:00 PM</p>
              </li>
              <li class="schedule__list">
                <p class="schedule__text">Saturday - Sunday</p>
                <p class="schedule__text schedule__text--color">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <ul class="callback">
              <li class="callback__list">
                <a href="tel:+610383766284" class="callback__link">+61(0) 383 766 284</a>
              </li>
              <li>
                <a href="mailto:noreply@envato.com" class="callback__link">noreply@envato.com</a>
              </li>
            </ul>
          </li>
          <li class="contacts__items">
              <p class="contacts__place contacts__place--foodtruck">FOODTRUCK</p>
              <p class="contacts__caption">Los Angeles</p>
              <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
              <ul class="schedule">
                <li class="schedule__list schedule__list--margin">
                  <p class="schedule__text">Monday - Friday</p>
                  <p class="schedule__text schedule__text--color">06:00 AM - 10:00 PM</p>
                </li>
                <li class="schedule__list">
                  <p class="schedule__text">Saturday - Sunday</p>
                  <p class="schedule__text schedule__text--color">08:00 AM - 16:00 PM</p>
                </li>
              </ul>
              <ul class="callback">
                <li class="callback__list">
                  <a href="tel:+610383766284" class="callback__link">+61(0) 383 766 284</a>
                </li>
                <li>
                  <a href="mailto:noreply@envato.com" class="callback__link">noreply@envato.com</a>
                </li>
              </ul>
            </li>

            <li class="contacts__items">
              <p class="contacts__place">CAFE</p>
              <p class="contacts__caption">New York</p>
              <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
              <ul class="schedule">
                <li class="schedule__list schedule__list--margin">
                  <p class="schedule__text">Monday - Friday</p>
                  <p class="schedule__text schedule__text--color">06:00 AM - 10:00 PM</p>
                </li>
                <li class="schedule__list">
                  <p class="schedule__text">Saturday - Sunday</p>
                  <p class="schedule__text schedule__text--color">08:00 AM - 16:00 PM</p>
                </li>
              </ul>
              <ul class="callback">
                <li class="callback__list">
                  <a href="tel:+610383766284" class="callback__link">+61(0) 383 766 284</a>
                </li>
                <li>
                  <a href="mailto:noreply@envato.com" class="callback__link">noreply@envato.com</a>
                </li>
              </ul>
            </li>
            </ul>
          
            <ul class="contacts__btn">
              <li class="contacts__btn-item">
                <button type="button" class="button__primary--accent button_contacts" data-maps-open>Our Locations</button>
              </li>
              <li class="contacts__btn-item">
                <button type="button" class="button__primary--light button_contacts">Franchise</button>
              </li>
            </ul>
          </div>

      </section>
      
   
 


   