<section class="section">
    <div class="container">
        <h2 class="visually-hidden">Customer rewievs</h2>
        <div class="swiper slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <article class="customer__article">
                        <img class="customer__img" src="./images/customer-reviews/testimonials.jpg" alt="photo1"
                            width="170px">
                        <div class="customer__content">
                            <div class="customer__container">
                                <p class="customer__about"> Nullam viverra
                                    consectetuer.
                                    Quisque cursus et, porttitor
                                    risus.
                                    Aliquam
                                    sem.
                                    In hendrerit nulla
                                    quam
                                    nunc, accumsan
                                    congue. Lorem ipsum primis in nibh vel risus.
                                </p>
                            </div>
                            <h3 class="customer__name">Emily, Los Angeles</h3>
                        </div>
                    </article>
                </div>
                <div class="swiper-slide">
                    <article class="customer__article">
                        <img class="customer__img" src="./images/customer-reviews/testimonials2.jpg" alt="photo2">
                        <div class="customer__content">
                            <div class="customer__container">
                                <p class="customer__about"> <span class="customer__about-text"> Nullam viverra
                                        consectetuer.
                                        Quisque cursus et, porttitor
                                        risus.
                                        Aliquam
                                        sem.
                                        In hendrerit nulla
                                        quam
                                        nunc, accumsan
                                        congue. Lorem ipsum primis in nibh vel risus.</span> </p>
                            </div>
                            <h3 class="customer__name">Lara, Texas</h3>
                        </div>
                    </article>
                </div>
                <div class="swiper-slide">
                    <article class="customer__article">
                        <img class="customer__img" src="./images/customer-reviews/testimonials3.jpg" alt="photo3">
                        <div class="customer__content">
                            <div class="customer__container">
                                <p class="customer__about"> <span class="customer__about-text"> Nullam viverra
                                        consectetuer.
                                        Quisque cursus et, porttitor
                                        risus.
                                        Aliquam
                                        sem.
                                        In hendrerit nulla
                                        quam
                                        nunc, accumsan
                                        congue. Lorem ipsum primis in nibh vel risus.</span> </p>
                            </div>
                            <h3 class="customer__name">Kira, New York</h3>
                        </div>
                    </article>
                </div>
            </div>
            <div class="swiper-pagination ">
            </div>
        </div>
    </div>
</section>