<section class="section customer">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="swiper slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="customer__article">
            <img
              class="customer__img"
              src="./images/customer-reviews/members/Stanislaw.jpg"
              alt="photo1"
              width="170"
            />
            <div class="customer__content">
              <div class="customer__container">
                <p class="customer__about">
                  <span class="customer__about-text">
                    Hello, my role in this project was web developer. I made page header and order
                    modal for our web app. While working on project I learned how to work with git
                    in terminal and to coordinate with team. Thanks everyone for good work. It was
                    fun thumbsup.
                  </span>
                </p>
              </div>
              <h3 class="customer__name">Stanislaw, Wroclaw</h3>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customer__article">
            <img
              class="customer__img"
              src="./images/customer-reviews/members/Volodymyr.jpg"
              alt="photo2"
              width="170"
            />
            <div class="customer__content">
              <div class="customer__container">
                <p class="customer__about">
                  <span class="customer__about-text">
                    Hello! My position in this project was Front-end developer. I made section
                    "customer-review", and used for this extended tool Swiper. Project gave me good
                    experience in : Git, Swiper, team work activities and become acquainted with JS.
                  </span>
                </p>
              </div>
              <h3 class="customer__name">Volodymyr, Ivano-Frankivsk</h3>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customer__article">
            <img
              class="customer__img"
              src="./images/customer-reviews/members/Dmytro.jpg"
              alt="photo3"
              width="170"
            />
            <div class="customer__content">
              <div class="customer__container">
                <p class="customer__about">
                  <span class="customer__about-text">
                    Team leader, acting as Scrum Master. Hi, my name is Dmytro. This project allowed
                    me to improve the skills of teamwork, coordination, self-discipline, performance
                    and problem solving in a given time.
                  </span>
                </p>
              </div>
              <h3 class="customer__name">Dmytro, Chernivtsi</h3>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customer__article">
            <img
              class="customer__img"
              src="./images/customer-reviews/members/Vasil.jpg"
              alt="photo4"
              width="170"
            />
            <div class="customer__content">
              <div class="customer__container">
                <p class="customer__about">
                  <span class="customer__about-text">
                    Hello. I'm a Full-Stack Developer. In our team project I developed a "hero"
                    section. In practice, consolidated the material passed. It was very comfortable
                    and interesting to work in our team.
                  </span>
                </p>
              </div>
              <h3 class="customer__name">Vasil, Vinnitsa</h3>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customer__article">
            <img
              class="customer__img"
              src="./images/customer-reviews/members/Mykyta.jpg"
              alt="photo5"
              width="170"
            />
            <div class="customer__content">
              <div class="customer__container">
                <p class="customer__about">
                  <span class="customer__about-text">
                    I worked on the "about" section of the project. During the project, I expanded
                    my knowledge of GitHub, gained initial experience with Node.js, learned to work
                    with Trello and communicate with Team Lead and Scrum Master.
                  </span>
                </p>
              </div>
              <h3 class="customer__name">Nikita, Dnipro</h3>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customer__article">
            <img
              class="customer__img"
              src="./images/customer-reviews/members/Anna.jpg"
              alt="photo6"
              width="170"
            />
            <div class="customer__content">
              <div class="customer__container">
                <p class="customer__about">
                  <span class="customer__about-text">
                    Scrum Master, acting as Team Leader. I was the developer of the "Advantages
                    section", made a small contribution to each block of the project. I improved my
                    soft skills, learned something new from the best. I want to repeat again!
                  </span>
                </p>
              </div>
              <h3 class="customer__name">Anna, Lviv</h3>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customer__article">
            <img
              class="customer__img"
              src="./images/customer-reviews/members/Andriy.jpg"
              alt="photo7"
              width="170"
            />
            <div class="customer__content">
              <div class="customer__container">
                <p class="customer__about">
                  <span class="customer__about-text">
                    Hello! My name is Andrew. I worked on this project as a developer. My section is
                    products. I developed skills in GIT and js and in a team. Thank you to the whole
                    team for your work. It was a pleasure working with you. Don't Worry Be Happy!
                  </span>
                </p>
              </div>
              <h3 class="customer__name">Andrew, Lviv</h3>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customer__article">
            <img
              class="customer__img"
              src="./images/customer-reviews/members/Orest.jpg"
              alt="photo8"
              width="170"
            />
            <div class="customer__content">
              <div class="customer__container">
                <p class="customer__about">
                  <span class="customer__about-text">
                    Hi, my name is Orest, in this project I was in the role of developer. I worked
                    with a Gallery section. Applied in practice frontend technologies web and also
                    got a lot of positive teamwork experience. Thanks to my colleagues for the great
                    work !!!
                  </span>
                </p>
              </div>
              <h3 class="customer__name">Orest, Lviv</h3>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customer__article">
            <img
              class="customer__img"
              src="./images/customer-reviews/members/Vlad.jpg"
              alt="photo9"
              width="170"
            />
            <div class="customer__content">
              <div class="customer__container">
                <p class="customer__about">
                  <span class="customer__about-text">
                    Hello. In the project I made a Contact section. I was able to improve my
                    technologies skills. I enjoyed working in a team and learning something new for
                    myself. It was nice to have such an experience! Thank you all!
                  </span>
                </p>
              </div>
              <h3 class="customer__name">Vlad, Katowice</h3>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customer__article">
            <img
              class="customer__img"
              src="./images/customer-reviews/members/Nazar.jpg"
              alt="photo10"
              width="170"
            />
            <div class="customer__content">
              <div class="customer__container">
                <p class="customer__about">
                  <span class="customer__about-text">
                    Hello! I am Nazar. I worked on this project as a developer. My Footer section. I
                    developed skills in working in the GIT and in the team. Thank you to the whole
                    team for their work, and thank you to the GOIT team for these incredible
                    emotions.
                  </span>
                </p>
              </div>
              <h3 class="customer__name">Nazar, Lviv</h3>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="customer__article">
            <img
              class="customer__img"
              src="./images/customer-reviews/members/Dina.jpg"
              alt="photo11"
              width="170"
            />
            <div class="customer__content">
              <div class="customer__container">
                <p class="customer__about">
                  <span class="customer__about-text">
                    Hello. It was a great experience for me to work in the team. My team is very
                    smart and powerful. And they help me to understand how it's to be a part of
                    team. And the project showed me how to interact between participants.
                  </span>
                </p>
              </div>
              <h3 class="customer__name">Dina, Norway</h3>
            </div>
          </article>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
