<footer class="footer">
  <div class="container footer__container">
    <p class="footer__title">
      homemade ice cream made
      <span class="footer__text--color"> with passion </span>
    </p>

    <div class="networks">
      <ul class="networks__list">
        <li class="networks__iteam">
          <a
            target="_blank"
            href="https://instagram.com/ "
            aria-label="instagram"
            class="networks__link"
          >
            <svg class="networks__icon" width="18" height="18">
              <use href="./images/svg/svg_set.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="networks__iteam">
          <a
            target="_blank"
            href="https://telegram.org/"
            aria-label="telegram"
            class="networks__link"
          >
            <svg class="networks__icon" width="18" height="18">
              <use href="./images/svg/svg_set.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="networks__iteam">
          <a
            target="_blank"
            href="https://www.facebook.com/"
            aria-label="facebook"
            class="networks__link"
          >
            <svg class="networks__icon" width="18" height="18">
              <use href="./images/svg/svg_set.svg#icon-fb"></use>
            </svg>
          </a>
        </li>
      </ul>

      <a href="tel:+61(0)383766284" class="footer__contact--link">
        Feel free to contact <span class="footer__contact--color">+61 (0) 383 766 284 </span></a
      >
    </div>
  </div>
  <div class="footer__wrap">
    <p class="copyright">&copy; 2022- IceCream. All Rights Reserved.</p>
  </div>
</footer>
