<section>
<div class="container">
    <ul class="grid">
      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-1-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-1-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-1-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-1-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-1-2x.jpg" alt="">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap is-expanded">
          <source srcset="./images/gallery/mobile/gallery-2-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-2-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-2-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-2-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-2-2x.jpg" alt="">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-3-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-3-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-3-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-3-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-3-2x.jpg" alt="">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-4-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-4-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-4-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-4-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-4-2x.jpg" alt="">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-5-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-5-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-5-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-5-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-5-2x.jpg" alt="">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-6-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-6-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-6-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-6-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-6-2x.jpg" alt="">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-7-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-7-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-7-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-7-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-7-2x.jpg" alt="">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-8-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-8-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-8-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-8-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-8-2x.jpg" alt="">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap is-expanded">
          <source srcset="./images/gallery/mobile/gallery-9-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-9-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-9-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-9-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-9-2x.jpg" alt="">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-10-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-10-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-10-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-10-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-10-2x.jpg" alt="">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-11-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-11-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-11-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-11-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-11-2x.jpg" alt="">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-12-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-12-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-12-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-12-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-12-2x.jpg" alt="">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap is-expanded">
          <source srcset="./images/gallery/mobile/gallery-13-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-13-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-13-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-13-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-13-2x.jpg" alt="">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-14-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-14-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-14-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-14-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-14-2x.jpg" alt="">
        </picture>
      </li>
    </ul>
</section>


<!-- <section class="gallery section">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__grid">
      <li class="gallery__grid--item gallery__grid--item-1">
        <div class="gallery__thumb">
          <img src="./images/gallery/11.jpg" alt="images">
        </div>
      </li>
      <li class="gallery__grid--item gallery__grid--item-2">
        <div class="gallery__thumb">
          <img src="./images/gallery/22.jpg" alt="images">
        </div>
      </li>
      <li class="gallery__grid--item gallery__grid--item-3">
        <div class="gallery__thumb">
          <img src="./images/gallery/33.jpg" alt="images">
      </li>
      <li class="gallery__grid--item gallery__grid--item-4">
        <div class="gallery__thumb">
          <img src="./images/gallery/44.jpg" alt="images">
        </div>
      </li>
      <li class="gallery__grid--item gallery__grid--item-5">
        <div class="gallery__thumb">
          <img src="./images/gallery/55.jpg" alt="images">
        </div>
      </li>
      <li class="gallery__grid--item gallery__grid--item-6">
        <div class="gallery__thumb">
          <img src="./images/gallery/66.jpg" alt="images">
        </div>
      </li>
      <li class="gallery__grid--item gallery__grid--item-7">
        <div class="gallery__thumb">
          <img src="./images/gallery/77.jpg" alt="images">
        </div>
      </li>
      <li class="gallery__grid--item gallery__grid--item-8">
        <div class="gallery__thumb">
          <img src="./images/gallery/88.jpg" alt="images">
        </div>
      </li>
      <li class="gallery__grid--item gallery__grid--item-9">
        <div class="gallery__thumb">
          <img src="./images/gallery/99.jpg" alt="images">
        </div>
      </li>
      <li class="gallery__grid--item gallery__grid--item-10">
        <div class="gallery__thumb">
          <img src="./images/gallery/100.jpg" alt="images">
        </div>
      </li>
    </ul>
  </div>
</section> -->