<section class="gallery section">
<div class="container">
  <h2 class="visually-hidden">Gallery</h2>
    <ul class="grid">
      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-1-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-1-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-1-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-1-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-1-2x.jpg" alt="pink ice cream with raspberries">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap is-expanded">
          <source srcset="./images/gallery/mobile/gallery-2-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-2-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-2-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-2-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-2-2x.jpg" alt="popsicle">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-3-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-3-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-3-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-3-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-3-2x.jpg" alt="ice-cream cone">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-4-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-4-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-4-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-4-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-4-2x.jpg" alt="a lot of ice cream cone">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-5-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-5-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-5-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-5-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-5-2x.jpg" alt="young girl with ice cream">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-6-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-6-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-6-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-6-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-6-2x.jpg" alt="two ice cream cone">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-7-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-7-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-7-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-7-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-7-2x.jpg" alt="red ice cream">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-8-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-8-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-8-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-8-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-8-2x.jpg" alt="little dog eats ice cream">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap is-expanded">
          <source srcset="./images/gallery/mobile/gallery-9-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-9-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-9-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-9-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-9-2x.jpg" alt="ice cream with yogurt">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-10-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-10-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-10-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-10-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-10-2x.jpg" alt="a little girl with icecream cone">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-11-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-11-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-11-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-11-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-11-2x.jpg" alt="ice cream">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-12-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-12-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-12-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-12-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-12-2x.jpg" alt="ingredients for ice cream">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap is-expanded">
          <source srcset="./images/gallery/mobile/gallery-13-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-13-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-13-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-13-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-13-2x.jpg" alt="ice cream cocktail">
        </picture>
      </li>

      <li class="grid__item">
        <picture class="grid__wrap">
          <source srcset="./images/gallery/mobile/gallery-14-1x.webp 1x, 
                          ./images/gallery/mobile/gallery-14-2x.webp 2x" type="image/webp">
          <source srcset="./images/gallery/mobile/gallery-14-1x.jpg 1x, 
                          ./images/gallery/mobile/gallery-14-2x.jpg 2x" type="image/jpeg">
          <img class="grid__img" src="./images/gallery/mobile/gallery-14-2x.jpg" alt="vanilla ice cream">
        </picture>
      </li>
    </ul>
</section>
