<div class="backdrop is-hidden" data-maps>
<div class="modal map-modal">
    <button type="button" class="modal__close-btn close-btn" data-maps-close>
    <svg class="close-btn__icon" width="11px" height="11px">
        <use href="./images/svg/svg_set.svg#icon-close"></use>
    </svg>
    </button>
    <h2 class="modal__heading">Our Locations</h2>
    <ul class="modal-location-list">
    <li class="modal-location-list__item modal-location-list__item--active" chicago>
        <strong class="contacts__place modal-map__contacts-place">CAFE</strong>
        <b class="contacts__caption modal-map__contacts-caption">Chicago</b>
        <iframe src="https://maps.google.com/maps?q=chicago%20ukr&t=&z=13&ie=UTF8&iwloc=&output=embed" class="modal-map__iframe" frameborder="0" style="border:0" allowfullscreen></iframe></li>
    <li class="modal-location-list__item" losangeles>
        <strong class="contacts__place contacts__place--foodtruck modal-map__contacts-place">FOODTRUCK</strong>
        <b class="contacts__caption modal-map__contacts-caption">Los Angeles</b>
        <iframe src="https://maps.google.com/maps?q=los%20angeles&t=&z=13&ie=UTF8&iwloc=&output=embed" class="modal-map__iframe" frameborder="0" style="border:0" allowfullscreen></iframe></li>
    </li>
    <li class="modal-location-list__item" newyork>
        <strong class="contacts__place modal-map__contacts-place">CAFE</strong>
        <b class="contacts__caption modal-map__contacts-caption">New York</b>
        <iframe src="https://maps.google.com/maps?q=new%20york%20shevch&t=&z=13&ie=UTF8&iwloc=&output=embed" class="modal-map__iframe" frameborder="0" style="border:0" allowfullscreen></iframe>
    </li>
    </ul>
    <div class="modal-map__buttons-wrapper">
        <button type="button" class="button__secondary--light" data-chicago-open>Chicago</button>
        <button type="button" class="button__secondary--accent" data-losangeles-open>Los Angeles</button>
        <button type="button" class="button__secondary--accent" data-newyork-open>New York</button></div>
</div>
</div>
