<section id="products" class="products section">
  <div class="container">
    <p class="products__natural">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item list profucts__ice-cream element-animation">
        <h3 class="products__block-title products__dote">ice cream</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button products--button products--but-one">
          <svg class="products__icons" width="20" height="10">
            <use href="./images/svg/svg_set.svg#icon-rightarrow"></use>
          </svg>
          <span class="products__button-top"></span>
        </button>

        <div class="menu menu--products__menu products--menu-one">
          Ice cream contains nutrients that are good for your immune system. 😊
        </div>
      </li>

      <li class="products__item list profucts__ice-coffee element-animation">
        <h3 class="products__block-title products__dote">ice coffee</h3>

        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__btn products--button products--but-two">
          <svg class="products__icons" width="20" height="10">
            <use href="./images/svg/svg_set.svg#icon-rightarrow"></use>
          </svg>
          <span class="products__button-top"></span>
        </button>

        <div class="menuB menu--products__menu products--menu-two">
          Cold brew coffee contains compounds that may reduce your risk of heart disease.🧡
        </div>
      </li>
      <li class="products__item list profucts__milkshakes element-animation">
        <h3 class="products__block-title products__dote">milkshakes</h3>

        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__but products--button products--but-three">
          <svg class="products__icons" width="20" height="10">
            <use href="./images/svg/svg_set.svg#icon-rightarrow"></use>
          </svg>
          <span class="products__button-top"></span>
        </button>

        <div class="menuC menu--products__menu products--menu-three">
          Milkshake contains ice cream unlike milk smoothie.😋
        </div>
      </li>
    </ul>
  </div>
</section>
