<section id="products" class="products section">
  <div class="container">
    <p class="products__natural">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item list profucts__ice-cream">
        <article class="products__article">
          <h3 class="products__block-title products__dote">ice cream</h3>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <a class="products__link" href="">
            <svg width="20" height="10" class="products__icon">
              <use href="./images/svg/svg_set.svg#icon-rightarrow"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="products__item list profucts__ice-coffee">
        <article class="products__article">
          <h3 class="products__block-title products__dote">ice coffee</h3>

          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <a class="products__link" href="">
            <svg width="20" height="10" class="products__icon">
              <use href="./images/svg/svg_set.svg#icon-rightarrow"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="products__item list profucts__milkshakes">
        <article class="products__article">
          <h3 class="products__block-title products__dote">milkshakes</h3>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <a class="products__link" href="">
            <svg width="20" height="10" class="products__icon">
              <use href="./images/svg/svg_set.svg#icon-rightarrow"></use></svg
          ></a>
        </article>
      </li>
    </ul>
  </div>
</section>
