.about {
  background-color: $bg-accent-primary-light;


  // ______________+++++
  @media screen and (max-width: 767px) {
    background-image: url(../images/about/about-left-450x1.png),
      url(../images/about/about-right-450x1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 67%, 100% 73%;
  }


  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {

    background-image: url(../images/about/about-left-450x2.png),
      url(../images/about/about-right-450x2.png);
  }


  // __________++++++
  @media screen and (min-width: 1280px) {
    background-image: url(../images/about/about-left-1280x1.png),
      url(../images/about/about-right-1280x1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 40%, 100% 95%;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {

      background-image: url(../images/about/about-left-1280x2.png), url(../images/about/about-right-1280x2.png);
    }
  }
}

// .about__wrapper {
//   margin-bottom: 32px;

//   @media screen and (min-width: 768px) {
//     font-size: 48px;
//     line-height: 1.14;
//     margin-bottom: 40px;
//   }

//   @media screen and (min-width: 1280px) {
//     margin-bottom: 60px;
//   }
// }

.about__title {
  margin-bottom: 15px;

  font-family: $secondary-font-family;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 1.16;

  color: $text-color-accent-light;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.about__subtitle {

  margin-bottom: 32px;

  font-family: $secondary-font-family;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;

  color: $text-color-accent;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 60px;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.about__block {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about__image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin: 0;
    height: 335px;
  }

  @media screen and (min-width: 1280px) {
    margin: 0;
    margin-right: 139px;
    height: 501px;
  }
}

.about__wrap {
  @media screen and (max-width: 767px) {
    max-width: 220px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 32px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 91px;
    padding-right: 13%;
    margin: 0;
  }
}

.about__content {
  font-family: $primary-font-family;
  color: $text-color-dark;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.58;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.78;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
}

.about__content--description-first {
  margin-bottom: 20px;
  color: $text-color-primary;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.about__content--description-second {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.about__content--description-third {
  margin-bottom: 40px;
}

.about__button {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}