.about__inner {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: 767px) {
    max-width: 100vw;
    background-position-y: 534px;
    background-image: url(../images/about/milk.png);

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/about/milk.png);
    }
  }

  @media screen and (min-width: 1280px) {
    margin-left: auto;
      margin-right: auto;
      background-repeat: no-repeat;
      background-size: contain;
      max-width: 1280px;
      background-position-y: 187px;
      background-image: url(../images/about/milk_1280.png);
  
      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/about/milk_1280.png);
      }
    }
    
}

.about {
  background-color: $bg-accent-primary-light;
}

.about__wrapper {
  margin-left: auto;
  margin-right: auto;
}

.about__title {
  font-family: $secondary-font-family;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 1.16;
  margin-bottom: 15px;
  color: $text-color-accent-light;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }
  
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    margin-bottom: 16px;
  }
}

.about__subtitle {
  font-family: $secondary-font-family;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
  line-height: 1.14;
  margin-bottom: 32px;
  color: $text-color-accent;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 60px;
  }
}

.about__block {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about__image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin: 0;
    height: 335px;
  }

  @media screen and (min-width: 1280px) {
    margin: 0;
    margin-right: 139px;
    height: 501px;
    }
}

.about__wrap {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    padding-right: 3%;
    margin-left: 32px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 91px;
    padding-right: 13%;
    margin: 0;
    }
}

.about__content {
  font-family: $primary-font-family;
  color: $text-color-dark;
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 176%;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    }
}

.about__content--description-1 {
  margin-bottom: 20px;
  color: $text-color-primary;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.about__content--description-2 {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.about__content--description-3 {
  margin-bottom: 40px;
}

.about__button{
  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}