.advantages {
    background-color: $bg-accent-primary-light;
}

.advantages__item {
    width: 230px;

    &:not(:last-child) {
        margin-bottom: 32px;
    }

    &:first-child::before {
        margin-bottom: 16px;
        display: inline-block;
        content: '';
        width: 33px;
        height: 50px;
        background-image: url(../images/advantages/png/icon-liter.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    &:nth-child(2n):before {
        margin-bottom: 16px;
        display: inline-block;
        content: '';
        width: 50px;
        height: 50px;
        background-image: url(../images/advantages/png/icon-kg.png);
        background-size: cover;
        background-repeat: no-repeat;

    }

    &:last-child::before {
        margin-bottom: 16px;
        display: inline-block;
        content: '';
        width: 44px;
        height: 50px;
        background-image: url(../images/advantages/png/icon-hurt.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.advantages__caption {
    margin-bottom: 13px;
    color: $text-color-accent;
    font-family: $secondary-font-family;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.advantages__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
}