.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;

  background-color: transparent;
  border-radius: 50%;
  z-index: 900;
  border: none;
  opacity: 1;
  transform: translate(0) scale(1) rotate(0);

  transition: opacity $animation-modal, transform $animation-modal;
  &:hover,
  &:focus {
    outline: none;
  }

  &.hidden {
    opacity: 0;
    transform: translate(200px, 200px) scale(5) rotate(720deg);
    transition: opacity $animation-modal, transform $animation-modal;
    pointer-events: none;
  }
  &__icon {
    fill: $networks-color-hover;

    .back-to-top:hover &,
    .back-to-top:focus & {
      fill: $networks-color;
    }
  }
}
