// ===========Класи кнопок, які потібно вставити у розмітку===========

// <button class="button__primary--light">Buy now</button> --------Header
// <button class="button__menu">Buy now</button> ---------Header Menu
// <button class="button__secondary--light">Products</button> --------Hero
// <button class="button__secondary--accent">How it’s made?</button> --------Hero
// <button class="button__primary--light">Read more</button> --------About
// <button class="button__primary--accent">Our Locations</button> --------Contacts
// <button class="button__primary--light">Franchise</button> --------Contacts

// Для надання кнопкам зовнішньої геометрії використовувати класи-мікси або модифікатори, що залежать від назви секції або блоку. Наприклад hero__button, contact__button, button__menu--after.

.button__primary--light {
    @extend %button;
    @extend %button__primary;

    @include btn-color($button-color, $button-color-accent);

    &:hover,
    &:focus {
        background-color: $button-color-hover;
    }

    &::after {
        background-image: url(../images/svg/button-icon.svg);
    }
}

.button__primary--accent {
    @extend %button;
    @extend %button__primary;

    @include btn-color($button-color-accent, $button-color);

    &:hover,
    &:focus {
        background-color: $button-color-accent-hover;
    }

    &::after {
        background-image: url(../images/svg/button-icon-white.svg);
    }
}

.button__header {

    @media screen and (max-width: 767.98px) {
        display: none;
    }
}

.button__menu {
    margin-bottom: 20px;

    @media screen and (max-width: 767.98px) {
        min-width: 210px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 768px) {
        min-width: 186px;
        margin-left: auto;
        margin-right: auto;
    }
}

.button__secondary--light {
    @extend %button;
    @extend %button__secondary;
    @include btn-color($button-color-accent, $button-color);

    &:hover,
    &:focus {
        background-color: $button-color-accent-hover;
    }
}

.button__secondary--accent {
    @extend %button;
    @extend %button__secondary;
    @include btn-color($button-color, $button-color-accent);

    &:hover,
    &:focus {
        background-color: $button-color-hover;
    }
}