.contacts { 
   
    background-image: linear-gradient(
        to bottom,
        $bg-primary 25%,
        $bg-accent-primary-light 25%,
        $bg-accent-primary-light 100%,
      
      );
}
.contacts__container{
    @media screen and (min-width: 768px) and (max-width: 1279.99px) {
    padding-left: 18px;
    padding-right: 18px;}
}
.container__list{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        margin-bottom: 40px
    }
}
.contacts__items{
    padding: 40px 32px;
    
    border-radius: 24px;
    background: $bg-primary;
    box-shadow: $shadow-card-contacts;
    @media screen and (max-width: 767px) { 
        width: 280px;
    } 
    @media screen and (min-width: 768px) {
        width: 224px    
        }
        @media screen and (min-width: 1280px) {
            width: 395px;
            padding: 40px 40px; 
            
            }
      
    &:not(:last-child){
        @media screen and (max-width: 767px) {
        margin-bottom: 20px;
        }
        @media screen and (min-width: 768px) {
            margin-right: 32px;
               
            }
      }
}

.contacts__place {
    display: inline-block;
    margin-bottom: 20px;
    padding: 1px 23px;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.04em;
    color: $text-color-secondary;
    background-color: $bg-accent-second;
    @include family-vr(null, 500, 12px, null);
    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
        @include family-vr(null, 500, 16px, 1.86); 
        }
    &--foodtruck{ 
        padding: 1px 26px;
        background-color: $bg-accent-third;
       }
}

.contacts__caption {
    margin-bottom: 8px;
    letter-spacing: 0.04em;
    @include family-vr(normal, 500, 12px, 1.86);
    color: $text-color-primary;
    @media screen and (min-width: 768px) and (max-width: 1279.99px) {
        margin-bottom: 12px;
        @include family-vr(null, 500, 14px, 1.86); 
        }
    @media screen and (min-width: 1280px) {
    @include family-vr(null, 500, 16px, 1.86); 
    }    
}

.contacts__text{
    padding-bottom: 24px;
    border-bottom: 1px solid $border-color-light;
    @include family-vr(null, 500, 12px, 18px);
    color: $text-color-dark;
    @media screen and (min-width: 768px) and (max-width: 1279.99px){
        padding-bottom: 32px;
        @include family-vr(null, 500, 14px, 1.66); 
        }
    @media screen and (min-width: 1280px) {
        padding-bottom: 32px;
        max-width: 243px;
        @include family-vr(null, 500, 16px, 1.83); 
        }     
}
.schedule {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $border-color-light;
    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;   
    }
}
.schedule__list--margin{
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
        margin-bottom: 12px; 
    }
}
.schedule__text{
    @include family-vr(null, 500, 12px, 1.86);
    color: $text-color-primary;
    @media screen and (min-width: 768px) {
        @include family-vr(null, 500, 14px, 1.86);
        }
        @media screen and (min-width: 1280px) {
            @include family-vr(null, 500, 16px, 1.86);
            }
    &--color{ 
        color:$text-color-accent-light;}

}
 
.callback{
    margin-top: 24px;
    @media screen and (min-width: 768px) {
        margin-top: 32px;
    }
}
.callback__link{
    @include family-vr(null, 500, 12px, 18px);
    color: $text-color-dark;
    @media screen and (min-width: 768px) {
        @include family-vr(null, 500, 14px, 1.83); 
        }
    @media screen and (min-width: 1280px) {
        @include family-vr(null, 500, 16px, 1.83); 
        }
}

.contacts__btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        }
    &-item:not(:last-child){
        @media screen and (max-width: 767px) {
        margin-bottom: 10px;
    }
    @media screen and (min-width: 768px) {
        margin-right: 14.5px;
        }
    }
   
  
}
.button_contacts{
    @media screen and (max-width: 479.99px) {
    padding: 11px 0;
    min-width: 162px;}
   
}



