.contacts { 
   
    background-image: linear-gradient(
        to bottom,
        $bg-dark-mobile 25%,
        $bg-accent-primary-light 25%,
        $bg-accent-primary-light 100%,
      
      );
}
.contacts__list{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    justify-content: center;
    align-items: center;
}

.contacts__card-title {
    width: 80px;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;

    text-align: center;
    letter-spacing: 0.04em;
    color: $text-color-secondary;
    background-color: $bg-accent-second;
    border-radius: 4px;
}
.contacts__card-title--foodtruck{
    width: 130px;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;

    text-align: center;
    letter-spacing: 0.04em;
    color: $text-color-secondary;
    background-color: $bg-accent-third;
    border-radius: 4px;
}


.contacts__сity-wrap {
    margin-top: 20px;
    border-bottom: 1px solid $border-color-light;
    padding-bottom: 24px;
}
.contacts__сity-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: $text-color-primary;
}

.contacts__сity-meta{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $text-color-dark;
}
.contacts__schedule-wrap {
    margin-top: 20px;
    margin-bottom: 24px;
    border-bottom: 1px solid $border-color-light;
    padding-bottom: 24px;
}
.contacts__schedule-day{
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: $text-color-primary;
}

.contacts__schedule-time {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: $text-color-accent-light;
}

.contacts__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    color: $text-color-dark;

}
.contacts__card{
    background: $bg-primary;
    box-shadow: $shadow-card-contacts;
    border-radius: 24px;
    padding: 40px 32px;
   
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
      }
      @media screen and (max-width: 480px) {
        width: 280px;
      }
}
.contacts__btn-wrap{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.btn-f{
    margin-top: 20px;
}


