.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer__article {
    text-align: center;
    display: block;
    width: 100%;
}

.customer__img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.customer__content {
    padding-top: 32px;

    @media screen and (min-width: 768px) {
        padding-top: 20px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 16px;
        padding-left: 132px;
        padding-right: 132px;
    }
}

.customer__container {
    display: block;
    width: auto;
    height: auto;
    padding: 43px 50px 17px;
    margin-bottom: 33px;
    background-color: $bg-dark-mobile;

    @media screen and (min-width: 768px) {
        padding: 37px 6px 36px;
        background-color: transparent;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1280px) {
        background-color: $bg-dark-mobile;
        padding: 32px 105px;
        margin-bottom: 16px;
    }

}

.customer__about {
    position: relative;
    font-weight: 500;
    height: 100%;
    width: 180px;
    margin-right: auto;
    margin-left: auto;
    background: repeating-linear-gradient($bg-dark-mobile, $bg-dark-mobile 30px, $bg-dark 30px, $bg-dark 31px);

    @media screen and (min-width: 768px) {
        width: 608px;
        background: repeating-linear-gradient($bg-primary, $bg-primary 29px, $bg-dark 29px, $bg-dark 30px);
    }

    @media screen and (min-width: 1280px) {
        width: 822px;
        background: repeating-linear-gradient($bg-dark-mobile, $bg-dark-mobile 29px, $bg-dark 29px, $bg-dark 30px);
    }

    &:before {
        position: absolute;
        display: inline;
        content: '';
        height: 40px;
        width: 54px;
        top: -20px;
        left: -35px;
        background-image: url('../images/customer-reviews/quotes.svg');
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (min-width: 768px) {
            left: 0px;
        }

        @media screen and (min-width: 1280px) {

            left: -10px;
        }
    }

}

.customer__about-text {
    display: block;
    width: 157px;
    margin: auto;
    font-size: 12px;
    line-height: 2.58;

    @media screen and (min-width: 768px) {
        width: 514px;
        font-size: 14px;
        line-height: 2.14;
    }

    @media screen and (min-width: 1280px) {
        width: 750px;
        font-size: 16px;
        line-height: 1.88;
    }

}

.customer__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.86;
    }

    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: 1.85;
    }


    &::before {
        display: block;
        content: '';
        height: 4px;
        width: 32px;
        margin: auto;
        margin-bottom: 16px;

        background-image: url('../images/customer-reviews/dots.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    line-height: 20px;
    background-color: $icon-color-accent-dark;
    margin-top: 50px;
}

.swiper-pagination-bullet:hover {
    width: 12.4px;
    height: 12px;
    border-radius: 0;
    background-color: transparent;
    background-image: url('../images/customer-reviews/home.svg');
}

.swiper-pagination-bullet-active {
    width: 12.4px;
    height: 12px;
    border-radius: 0;
    background-color: transparent;
    background-image: url('../images/customer-reviews/home.svg');
}

.swiper-pagination {
    position: relative;
    top: 16px;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1280px) {
        top: 32px;
    }
}