.footer__div {
    width: 232px;
    margin-bottom: 40px;
}
.footer__title {


    font-size: 18px;
    font-weight: 400;
    line-height: 1,17;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-family: $secondary-font-family;
    color: $text-color-accent-light;

}

.footer__text--color {
display: inline-block;
    width: 200px;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $text-color-accent;
    margin-top: 16px;
    

}
.networks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 40px;
    border-bottom: 1px solid #E1E1E1;
}
.networks__list {
    display: flex;
    width: 162px;
    justify-content: space-between;
    margin-bottom: 40px;
}



.networks__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    fill: $bg-primary;
    background-color: $networks-color;
    border-radius: 50%;

    &:hover {
        background-color: $networks-color-hover;
    }
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer__contact--link {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.02em;

    color: $text-color-primary;
}

.footer__contact--color {
    color: $text-color-accent;
}

.copyright {
margin-left: auto;
margin-right: auto;
    width: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;

    color: $text-color-dark;
    @media screen and (max-width: 480px) {
        width: 145px;
    }
}
