.footer {
    background-color: $bg-accent-primary-light;
}

.footer__container {
    padding-bottom: 40px;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;

    }

    @media screen and (min-width: 1280px) {
        padding-bottom: 60px;
        align-items: flex-end;

    }
}

.footer__title {

    @media screen and (max-width: 767.98px) {
        margin-bottom: 40px;
        width: 234px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279.98px) {
        width: 340px;

    }

    font-size: 18px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-family: $secondary-font-family;
    color: $text-color-accent-light;

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.16;

    }

    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.14;
    }

}

.footer__text--color {
    display: block;
    width: 200px;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 16px;
    color: $text-color-accent;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-top: 12px;

    }

    @media screen and (min-width: 768px) {
        font-size: 48px;
        width: 340px;

    }

    @media screen and (min-width: 1280px) {

        width: 474px;
        font-size: 58px;
        margin-top: 16px;
    }


}

.networks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.networks__list {
    display: flex;
    margin-bottom: 40px;
}

.networks__iteam:not(:last-child) {
    margin-right: 28px;

    @media screen and (min-width: 768px) {
        margin-right: 30px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 25px;
    }
}

.networks__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    fill: $bg-primary;
    background-color: $networks-color;
    border-radius: 50%;

    &:hover,
    &:focus {
        background-color: $networks-color-hover;
    }


    transition: background-color $animation;

    @media screen and (min-width: 768px) {
        width: 34px;
        height: 34px;
    }

}

.footer__contact--link {

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.02em;

    color: $text-color-primary;

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;
    }
}

.footer__contact--color {
    color: $text-color-accent;
}

.footer__wrap {
    padding: 16px 0 20px;
    border-top: 1px solid $border-color-light;

    @media screen and (min-width: 480px) {
        padding: 8px 0;
    }
}

.copyright {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;

    color: $text-color-dark;

    @media screen and (max-width: 767px) {
        width: 145px;
        line-height: 1.52;
    }

    @media screen and (min-width: 767px) and (max-width: 1280px) {
        letter-spacing: 0.02em;
    }
}