.grid {
  margin: 0 auto;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid__wrap {
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 4px;

  @media screen and (min-width: 353px) {
    width: 80px;
    height: 80px;
  }

  @media screen and (min-width: 480px) {
    width: 120px;
    height: 120px;
    margin-bottom: 6px;
  }

  @media screen and (min-width: 768px) {
    width: 160px;
    height: 160px;
    margin-bottom: 2px;
  }

  @media screen and (min-width: 1280px) {
    width: 180px;
    height: 180px;
    margin-bottom: 2px;
  }
}

.grid__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 250ms linear;
}

.grid__img:hover {
  position: relative;
  transform: scale(1.05);
  cursor: pointer;
}

.is-expanded {
  height: 120px;
  width: 120px;

  @media screen and (min-width: 480px) {
    width: 200px;
    height: 200px;
  }

  @media screen and (min-width: 768px) {
    width: 280px;
    height: 280px;
  }

  @media screen and (min-width: 1280px) {
    width: 320px;
    height: 320px;
  }
}

// .gallery__grid {
//   margin-left: auto;
//   margin-right: auto;
//   display: grid;
//   grid-gap: 2px;
//   grid-template-columns: repeat(7, 1fr);
//   grid-template-rows: repeat(9, 1fr);
// }

// .gallery {
//   background-image: linear-gradient(180deg, $bg-accent-primary-light, $bg-accent-primary-light 50%, $bg-primary 0);
// }

// .gallery__thumb {
//   min-width: 40px;
//   height: auto;
//   border-radius: 15%;
//   overflow: hidden;
// }

// .gallery__grid--item-1 {
//   grid-column-start: 1;
//   grid-column-end: 2;
//   grid-row-start: 4;
//   grid-row-end: 7;
// }

// .gallery__grid--item-2 {
//   grid-column-start: 2;
//   grid-column-end: 3;
//   grid-row-start: 3;
//   grid-row-end: 6;
// }

// .gallery__grid--item-3 {
//   grid-column-start: 2;
//   grid-column-end: 3;
//   grid-row-start: 6;
//   grid-row-end: 9;
// }

// .gallery__grid--item-4 {
//   grid-column-start: 3;
//   grid-column-end: 5;
//   grid-row-start: 1;
//   grid-row-end: 7;
// }

// .gallery__grid--item-5 {
//   grid-column-start: 3;
//   grid-column-end: 4;
//   grid-row-start: 7;
//   grid-row-end: 10;
// }

// .gallery__grid--item-6 {
//   grid-column-start: 5;
//   grid-column-end: 6;
//   grid-row-start: 3;
//   grid-row-end: 6;
// }

// .gallery__grid--item-7 {
//   grid-column-start: 5;
//   grid-column-end: 6;
//   grid-row-start: 6;
//   grid-row-end: 9;
// }

// .gallery__grid--item-8 {
//   grid-column-start: 6;
//   grid-column-end: 7;
//   grid-row-start: 2;
//   grid-row-end: 5;
// }

// .gallery__grid--item-9 {
//   grid-column-start: 6;
//   grid-column-end: 7;
//   grid-row-start: 5;
//   grid-row-end: 8;
// }

// .gallery__grid--item-10 {
//   grid-column-start: 7;
//   grid-column-end: 8;
//   grid-row-start: 4;
//   grid-row-end: 7;
// }
