.popup-menu {
  width: 250px;
  height: 100vh;
  background-color: $bg-menu;
  position: fixed;
  right: 0;
  padding-top: 60px;
  z-index: 999;

  transition: opacity $animation, transform $animation;

  @media screen and (min-width: 768px) {
    width: 40vw;
    padding-top: 58px;
  }

  &__close-btn {
    display: flex;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
.close-btn__icon {
  fill: $button-color;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateX(255px);
}
